---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import UnderlinedTitle from "../components/UnderlinedTitle.astro";

const seo = {
  title: "Wrejcodes HQ",
  description: "Projects and rantings of a software engineer"
  }
---

<Layout
  seo={seo}
>
  <Container>
    <UnderlinedTitle>WREJCODES</UnderlinedTitle>

    <div class="flex gap-6 py-6">
      <a href="/blog">Rantings →</a>
      <a href="/projects">Projects →</a>
    </div>
  </Container>
</Layout>