---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Wrejcodes HQ",
  description: "Projects and rantings of a software engineer"
  }
---

<Layout
  seo={seo}
>
  <Container>
    <h1>Wrejcodes</h1>
    <p>Welcome to my site. I plan on putting stuff that I make here. I'll write about it and other random things from time to time.</p>

    <a href="/blog">Blog →</a>
  </Container>
</Layout>
